{%extends 'base_goods.html'%}
{%block head%}
<script type="text/javascript" src="/static/js/jquery-1.12.2.js"></script>
<script type="text/javascript">
	// var $add_x = $('#add_cart').position().top;
	// var $add_y = $('#add_cart').position().left;

	// var $to_x = $('#show_count').position().top;
	// var $to_y = $('#show_count').position().left;

	// $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
	

	$(function(){

		$('#add_cart').click(function(){
		if($('.login_btn').text().indexOf('登录')>=0){
			alert('请先登录！');
			location.href='/user/login/';
			return;
		}
		// $(".add_jump").stop().animate({
		// 	'left': $to_y+7,
		// 	'top': $to_x+7},
		// 	"fast", function() {
		// 		$(".add_jump").fadeOut('fast',function(){});
		// });
		num=parseInt($('.num_show').val());
		$.get('/cart/add{{g.id}}_'+num+'/',function(data){
			$('#show_count').text(data.count);
		})
	});
	
	$('.add').click(function(){
		txt=$(this).prev();
		txt.val(parseFloat(txt.val())+1).blur();
	})
	$('.minus').click(function(){
		txt=$(this).prev().prev();
		txt.val(parseFloat(txt.val())-1).blur();
	})
		$('.num_show').blur(function(){
		count = $(this).val();
		stores = parseInt($('#stores').text());
		price =  $('#price').text();
		if(count<=0){					
			$(this).val(1);
			$(this).focus();
			return;
		} else if(count > stores) {
			alert("库存就这么多了！");
			$(this).val(stores);
			$(this).focus();
			return;
		}
		total =parseFloat(price)*count;
		$('#total').text(total.toFixed(2)+"元");

		// cart_id=$(this).parents('.cart_list_td').attr('id');
		// $.get('/cart/edit'+cart_id+'_'+count+"/",function(data){
		// 	if(data.ok==0){
		// 		total();
		// 	}else{
		// 		$(this).val(data.ok);
		// 	}
		// })
	});
});
</script>
{%endblock head%}

{%block detail%}
	
	<div class="breadcrumb">
		<a href="/index/">全部分类</a>
		<span>></span>
		<a href="/goods/list/{{g.gtype.id}}_1_1">新鲜水果</a>
		<span>></span>
		<a href="/goods/detail/{{g.id}}">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{g.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{g.gtitle}}</h3>
			<p>{{g.gtips}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="price">{{g.gprice}}</em></span>
				<span class="show_unit">单  位：{{g.gunit}}</span>
				<span>|</span>
				<span class="show_stores">库  存：<em id="stores">{{g.gstores}}</em></span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em id="total">{{g.gprice}}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{%for g in news%}
					<li>
						<a href="/goods/detail/{{g.id}}"><img src="/static/{{g.gpic}}"></a>
						<h4><a href="/goods/detail/{{g.id}}">{{g.gtitle}}</a></h4>
						<div class="prize">￥{{g.gprice}}</div>
					</li>
					{%endfor%}
					
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{g.gcontent|safe}} </dd>
				</dl>
			</div>

		</div>
	</div>


	<div class="add_jump"></div>

	
{%endblock detail%}